fastapi
uvicorn[standard]
sqlmodel
python-dotenv
argon2-cffi
PyJWT
python-multipart
pydantic
paho-mqtt
requests
timezonefinder
pytest
httpx
starlette
firebase-admin
pywebpush
psycopg[binary]
ruff
pytest